<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{url_for('static', filename='style/home.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Know Your Game</title>
</head>

<body>
    <header class="header">
        <a href="/home" class="logo">CropCrafters</a>
        <div class="social-media">
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-facebook-square'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-telegram'></i></a>
        </div>
        <nav class="navbar">
            <a href="/home">Back Home</a>

        </nav>
    </header>
        <h1 class="heading">Know Your Agriculture Game</h1>

    <section id="introduction">
        <h2>Introduction</h2>
        <p>
            Understanding and implementing good agricultural practices is crucial for making our world a better place.
            By adopting sustainable and informed farming methods, we contribute to the health of the environment,
            enhance crop yields, and promote overall well-being.
        </p>
        <p>
            For example, utilizing organic farming techniques can reduce environmental impact, protect biodiversity,
            and produce healthier food options for consumers.
        </p>
    </section>
 <div class="information">
    <section id="nutrients">
        <h2>Know Your Nutrients</h2>
        <p>
            Proper nutrient management is essential for plant growth and development. Here are some key nutrients and their roles:
        </p><br>
        <ul>
            <li><strong>Nitrogen (N):</strong> Promotes leaf and stem development. Essential for protein synthesis.</li>
            <li><strong>Phosphorus (P):</strong> Supports root growth, flowering, and fruiting. Important for energy transfer.</li>
            <li><strong>Potassium (K):</strong> Enhances overall plant health, disease resistance, and stress tolerance.</li>
            <li><strong>Magnesium (Mg):</strong> A component of chlorophyll, crucial for photosynthesis.</li>
            <li><strong>Calcium (Ca):</strong> Important for cell wall structure and overall plant stability.</li>
            <li><strong>Sulfur (S):</strong> Essential for amino acid and protein synthesis.</li>
            <li><strong>Iron (Fe):</strong> Involved in chlorophyll synthesis and essential for photosynthesis.</li>
        </ul>
    </section>
<br><br>
    <section id="environmental-factors">
        <h2>Know Your Environmental Factors</h2>
        <p>
            Various environmental factors play a crucial role in agricultural success. Understanding and managing these factors is key:
        </p><br>
        <ul>
            <li><strong>Temperature:</strong> Optimal temperature varies for different crops. Ensure plants are within their preferred temperature range.</li>
            <li><strong>pH Level:</strong> Soil pH affects nutrient availability. Adjust pH to suit the needs of specific crops.</li>
            <li><strong>Rainfall:</strong> Adequate water supply is essential. Monitor rainfall patterns and supplement irrigation if needed.</li>
            <li><strong>Humidity:</strong> Humidity levels influence disease development. Manage humidity to prevent fungal infections.</li>
        </ul>
    </section>
    <br><br>

    <section id="diseases">
        <h2>Know Your Diseases</h2>
        <p>
            Identifying and understanding plant diseases is crucial for maintaining healthy crops and ensuring food security.
            Early detection allows for timely intervention and effective disease management.
        </p><br>
        <ul>
            <li>
                <h3>Apple Scab (Venturia inaequalis)</h3>
                <ul>
                    <li><strong>Symptoms:</strong> Dark spots on leaves and fruit.</li>
                    <li><strong>Treatment:</strong> Apply fungicides, prune affected areas, and practice good sanitation.</li>
                </ul>
            </li><br>
            <li>
                <h3>Black Rot (Botryosphaeria obtusa)</h3>
                <ul>
                    <li><strong>Symptoms:</strong> Circular, dark lesions on leaves and fruit.</li>
                    <li><strong>Treatment:</strong> Apply fungicides, remove infected plant parts, and practice proper spacing.</li>
                </ul>
            </li><br>
            <li>
                <h3>Cedar Apple Rust (Gymnosporangium juniperi-virginianae)</h3>
                <ul>
                    <li><strong>Symptoms:</strong> Orange spots on leaves, often with a gelatinous appearance.</li>
                    <li><strong>Treatment:</strong> Remove nearby cedar trees, apply fungicides, and maintain good garden hygiene.</li>
                </ul>
            </li><br>
            <li>
                <h3>Healthy Apple Tree</h3>
                <ul>
                    <li><strong>Symptoms:</strong> No visible signs of diseases.</li>
                    <li><strong>Prevention:</strong> Regular monitoring, proper watering, and timely application of nutrients.</li>
                </ul>
            </li><br>
            <li>
                <h3>Healthy Blueberry Bush</h3>
                <ul>
                    <li><strong>Symptoms:</strong> Vibrant and disease-free leaves and berries.</li>
                    <li><strong>Prevention:</strong> Adequate sunlight, well-drained soil, and pest control measures.</li>
                </ul>
            </li><br>
            <li>
                <h3>Healthy Cherry Tree</h3>
                <ul>
                    <li><strong>Symptoms:</strong> Lush foliage and disease-free cherries.</li>
                    <li><strong>Prevention:</strong> Proper pruning, pest control, and adequate irrigation.</li>
                </ul>
            </li><br>
            <li>
                <h3>Powdery Mildew on Cherry (Podosphaera spp.)</h3>
                <ul>
                    <li><strong>Symptoms:</strong> White powdery spots on leaves, reducing overall plant health.</li>
                    <li><strong>Treatment:</strong> Apply fungicides, prune affected areas, and improve air circulation.</li>
                </ul>
            </li><br>
            <li>
                <h3>Cercospora Leaf Spot on Corn (Cercospora zeae-maydis)</h3>
                <ul>
                    <li><strong>Symptoms:</strong> Brown lesions with a yellow halo on corn leaves.</li>
                    <li><strong>Treatment:</strong> Rotate crops, use disease-resistant varieties, and apply fungicides.</li>
                </ul>
            </li><br>
            <li>
                <h3>Common Rust on Corn (Puccinia sorghi)</h3>
                <ul>
                    <li><strong>Symptoms:</strong> Rust-colored pustules on corn leaves.</li>
                    <li><strong>Treatment:</strong> Plant resistant varieties and apply fungicides as a preventive measure.</li>
                </ul>
            </li><br>
            <li>
                <h3>Healthy Corn Plant</h3>
                <ul>
                    <li><strong>Symptoms:</strong> Vigorous growth, vibrant green leaves, and well-developed ears.</li>
                    <li><strong>Prevention:</strong> Crop rotation, proper spacing, and adequate irrigation.</li>
                </ul>
            </li><br>
    <li>
        <h3>Black Rot (Guignardia bidwellii)</h3>
        <ul>
            <li><strong>Symptoms:</strong> Circular lesions with dark borders on leaves, fruit rot.</li>
            <li><strong>Prevention:</strong> Fungicide applications, pruning, and removing infected debris.</li>
        </ul>
    </li><br>

    <li>
        <h3>Esca (Black Measles) (Phaeoacremonium spp.)</h3>
        <ul>
            <li><strong>Symptoms:</strong> Yellowing of leaves, black streaks in the wood, wilting.</li>
            <li><strong>Prevention:</strong> Pruning, proper vineyard management, and using disease-resistant varieties.</li>
        </ul>
    </li><br>

    <li>
        <h3>Healthy Grapevine</h3>
        <ul>
            <li><strong>Symptoms:</strong> Vigorous growth, well-formed clusters, and disease-free foliage.</li>
            <li><strong>Prevention:</strong> Regular inspection, proper pruning, and applying fungicides as needed.</li>
        </ul>
    </li><br>
    <li>
        <h3>Leaf Mold (Fulvia fulva)</h3>
        <ul>
            <li><strong>Symptoms:</strong> Yellowing, wilting, and the development of fuzzy, greenish-black mold on the lower leaf surface.</li>
            <li><strong>Prevention:</strong> Proper spacing for air circulation, pruning, and fungicide application.</li>
        </ul>
    </li>
    <br>
    <li>
        <h3>Septoria Leaf Spot (Septoria lycopersici)</h3>
        <ul>
            <li><strong>Symptoms:</strong> Small, dark spots with a lighter center on leaves, which enlarge and develop a yellow halo.</li>
            <li><strong>Prevention:</strong> Crop rotation, adequate spacing, and fungicide application.</li>
        </ul>
    </li><br>

    <li>
        <h3>Spider Mites (Two-Spotted Spider Mite) (Tetranychus urticae)</h3>
        <ul>
            <li><strong>Symptoms:</strong> Yellow stippling on leaves, fine silk webbing, and reduced plant vigor.</li>
            <li><strong>Prevention:</strong> Regular monitoring, introducing natural predators, and maintaining humidity.</li>
        </ul>
    </li><br>

    <li>
        <h3>Target Spot (Corynespora cassiicola)</h3>
        <ul>
            <li><strong>Symptoms:</strong> Target-shaped lesions on leaves, which may coalesce and cause defoliation.</li>
            <li><strong>Prevention:</strong> Crop rotation, pruning, and fungicide application.</li>
        </ul>
    </li><br>

    <li>
        <h3>Tomato Mosaic Virus</h3>
        <ul>
            <li><strong>Symptoms:</strong> Mottled leaves, stunted growth, and distorted fruit.</li>
            <li><strong>Prevention:</strong> Using virus-free seeds, controlling insect vectors, and removing infected plants.</li>
        </ul>
    </li><br>

    <li>
        <h3>Tomato Yellow Leaf Curl Virus</h3>
        <ul>
            <li><strong>Symptoms:</strong> Yellowing and upward curling of leaves, stunted growth, and reduced fruit yield.</li>
            <li><strong>Prevention:</strong> Using resistant varieties, controlling whiteflies, and removing infected plants.</li>
        </ul>
    </li><br>
    <li>
        <h3>Huanglongbing (Citrus Greening) in Orange</h3>
        <ul>
            <li><strong>Symptoms:</strong> Yellowing of leaves, asymmetric blotchy mottling, and bitter fruit.</li>
            <li><strong>Prevention:</strong> Eliminating infected trees, controlling insect vectors, and using disease-free planting material.</li>
        </ul>
    </li><br>

    <li>
        <h3>Bacterial Spot in Peach</h3>
        <ul>
            <li><strong>Symptoms:</strong> Water-soaked lesions on leaves, fruit, and stems, leading to cankers.</li>
            <li><strong>Prevention:</strong> Copper-based fungicides, pruning, and disease-resistant varieties.</li>
        </ul>
    </li><br>

    <li>
        <h3>Healthy Peach Plant</h3>
        <ul>
            <li><strong>Description:</strong> Information about a healthy peach plant.</li>
        </ul>
    </li><br>

    <li>
        <h3>Bacterial Spot in Bell Pepper</h3>
        <ul>
            <li><strong>Symptoms:</strong> Circular, water-soaked lesions on leaves, which may enlarge and turn brown.</li>
            <li><strong>Prevention:</strong> Crop rotation, copper-based sprays, and avoiding overhead irrigation.</li>
        </ul>
    </li><br>

    <li>
        <h3>Healthy Bell Pepper Plant</h3>
        <ul>
            <li><strong>Description:</strong> Information about a healthy bell pepper plant.</li>
        </ul>
    </li><br>

    <li>
        <h3>Early Blight in Potato</h3>
        <ul>
            <li><strong>Symptoms:</strong> Dark lesions on lower leaves, which may have concentric rings.</li>
            <li><strong>Prevention:</strong> Crop rotation, fungicide application, and proper plant spacing.</li>
        </ul>
    </li><br>

    <li>
        <h3>Healthy Potato Plant</h3>
        <ul>
            <li><strong>Description:</strong> Information about a healthy potato plant.</li>
        </ul>
    </li><br>

    <li>
        <h3>Late Blight in Potato</h3>
        <ul>
            <li><strong>Symptoms:</strong> Water-soaked lesions on leaves, white fungal growth, and rapid plant wilting.</li>
            <li><strong>Prevention:</strong> Fungicide application, proper plant spacing, and avoiding overhead irrigation.</li>
        </ul>
    </li><br>

    <li>
        <h3>Healthy Raspberry Plant</h3>
        <ul>
            <li><strong>Description:</strong> Information about a healthy raspberry plant.</li>
        </ul>
    </li><br>

    <li>
        <h3>Healthy Soybean Plant</h3>
        <ul>
            <li><strong>Description:</strong> Information about a healthy soybean plant.</li>
        </ul>
    </li><br>

    <li>
        <h3>Powdery Mildew in Squash</h3>
        <ul>
            <li><strong>Symptoms:</strong> White powdery spots on leaves, which may coalesce and cover the plant.</li>
            <li><strong>Prevention:</strong> Fungicide application, proper spacing, and choosing resistant varieties.</li>
        </ul>
    </li><br>

    <li>
        <h3>Healthy Strawberry Plant</h3>
        <ul>
            <li><strong>Description:</strong> Information about a healthy strawberry plant.</li>
        </ul>
    </li><br>

    <li>
        <h3>Leaf Scorch in Strawberry</h3>
        <ul>
            <li><strong>Symptoms:</strong> Browning and drying of leaf edges, wilting, and stunted growth.</li>
            <li><strong>Prevention:</strong> Adequate watering, proper spacing, and disease-free planting material.</li>
        </ul>
    </li><br>

    <li>
        <h3>Bacterial Spot in Tomato</h3>
        <ul>
            <li><strong>Symptoms:</strong> Circular, water-soaked lesions on leaves, which may have a yellow halo.</li>
            <li><strong>Prevention:</strong> Copper-based sprays, proper spacing, and avoiding overhead irrigation.</li>
        </ul>
    </li><br>

    <li>
        <h3>Early Blight in Tomato</h3>
        <ul>
            <li><strong>Symptoms:</strong> Dark lesions on lower leaves, concentric rings, and yellowing of surrounding tissue.</li>
            <li><strong>Prevention:</strong> Fungicide application, crop rotation, and proper plant hygiene.</li>
        </ul>
    </li><br>

    <li>
        <h3>Healthy Tomato Plant</h3>
        <ul>
            <li><strong>Description:</strong> Information about a healthy tomato plant.</li>
        </ul>
    </li>
    <br>
    <li>
        <h3>Late Blight in Tomato</h3>
        <ul>
            <li><strong>Symptoms:</strong> Dark, water-soaked lesions on leaves, white fungal growth, and rapid plant wilting.</li>
            <li><strong>Prevention:</strong> Fungicide application, proper plant spacing, and avoiding overhead irrigation.</li>
        </ul>
    </li><br>

        </ul>
    </section>
 </div>


<!---footer--->
<section class="footer">
    <a href="/home" class="logo">CropCrafters</a>
    <p>-------------- Yielding Joys --------------<br>
        <p>&copy; All rights reserved CHRIST (Deemed to be University), Department of Statistics and Data Science</p>
        <br>
        <a href="/policies"><p>Terms and Policies</p></a>
        <br>
        <div class="icons">
    <a href="https://christuniversity.in/"><i class="fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/christ.university/"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/christ_university_bangalore/?hl=en"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/school/christ-university-bangalore/?originalSubdomain=in"><i class="fa fa-linkedin"></i></a>
</div>
<b><div class="name"><p>Made with  <i class="fa fa-heart-o"></i> by Asmita Mondal</p></div></b>
        </section>
</body>

</html>
