<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{url_for('static', filename='style/home.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Terms and Conditions</title>
</head>

<body>
    <header class="header">
        <a href="/home" class="logo">CropCrafters</a>
        <div class="social-media">
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-facebook-square'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-telegram'></i></a>
        </div>
        <nav class="navbar">
            <a href="/home">Back Home</a>

        </nav>
    </header>
        <h1 class="heading">Website Terms and Privacy Policy</h1>

 <div class="terms">
    <section id="introduction">
    This website provides information about farming practices and related services.Users can explore various features to enhance their farming experience.
    </section>

    <section id="usage">
        <h2>Website Usage</h2>
        <ul>
            <li>Users are encouraged to explore the website and utilize its features for farming insights.</li>
            <li>Proper conduct and adherence to guidelines are expected from all users.</li>
        </ul>
    </section>
<br>
    <section id="predictions">
        <h2>Predictions and Recommendations</h2>
        <ul>
            <li>The website may provide predictions and recommendations based on farming data.</li>
            <li>Users should use this information as a reference and exercise their judgment.</li>
        </ul>
    </section>
    <br>

    <section id="enquiries">
        <h2>Enquiries</h2>
        <ul>
            <li>Farmers can submit inquiries through the website for assistance.</li>
            <li>Enquiry details are collected for further processing by the website administrator.</li>
        </ul>
    </section>
    <br>

    <section id="reviews">
        <h2>Reviews and Testimonials</h2>
        <ul>
            <li>Customers can submit reviews and testimonials about their experiences.</li>
            <li>These reviews are displayed on the website to provide insights to other users.</li>
        </ul>
    </section>
    <br>

    <section id="terms">
        <h2>Terms and Conditions</h2>
        <ul>
            <li>By using the website, users agree to comply with the terms and conditions outlined here.</li>
            <li>Any misuse of the website may result in termination of user access.</li>
        </ul>
    </section>
    <br>

    <section id="privacy">
        <h2>Privacy Policy</h2>
        <ul>
            <li>User data, including enquiries and reviews, is collected for website improvement purposes.</li>
            <li>User information is kept confidential and not shared with third parties.</li>
        </ul>
    </section>
 </div>


<!---footer--->
<section class="footer">
    <a href="/home" class="logo">CropCrafters</a>
    <p>-------------- Yielding Joys --------------<br>
        <p>&copy; All rights reserved CHRIST (Deemed to be University), Department of Statistics and Data Science</p>
        <br>
        <a href="/policies"><p>Terms and Policies</p></a>
        <br>
        <div class="icons">
    <a href="https://christuniversity.in/"><i class="fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/christ.university/"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/christ_university_bangalore/?hl=en"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/school/christ-university-bangalore/?originalSubdomain=in"><i class="fa fa-linkedin"></i></a>
</div>
<b><div class="name"><p>Made with  <i class="fa fa-heart-o"></i> by Asmita Mondal</p></div></b>
        </section>
</body>

</html>
